<div class="area-login-background d-nome d-md-block"></div>

<div class="area-form">
    <form (ngSubmit)="login()">
        <h1 class="titulo">Login</h1>
        <h2 class="subtitulo">Faça seu login</h2>

              <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="user.senha" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" [(ngModel)]="user.senha" name="senha" required>
              </div>
              <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
            </form>
  
        <p class="footer"> 2024 | Desenvolvido por Amanda e Carlos</p>
    </div>


        