<app-menu-morador></app-menu-morador>

<div class="container">
  <h1>Bem-vindo, {{ morador.nome }}</h1>
  <h2>Avisos</h2>
  
  <div *ngIf="avisos$ | async as avisos; else noAvisos">
    <div *ngFor="let aviso of avisos">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ aviso.titulo }}</h5>
          <p class="card-text">{{ aviso.mensagem }}</p>
          <p class="card-text"><small class="text-muted">{{ aviso.data }}</small></p>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noAvisos>
    <p>Nenhum aviso encontrado.</p>
  </ng-template>
</div>


  
