<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        
        <div class="container cadastro mt-3">
            <h2 class="mb-4 titulo">Cadastro de avisos</h2>

            <form id="cadastroAvisos" (ngSubmit)="onSubmit()">

            <div class="row">

                <div class="container col-sm-8">
                    
                    <div class="form-group">
                        <label for="tituloAviso">Título do aviso:</label>
                        <input type="text" class="form-control" id="tituloAviso" name="tituloAviso" [(ngModel)]="cadastroAvisos.titulo" required>
                    </div>

                    <div class="form-group">
                        <label for="dataEmissao">Data de emissão:</label>
                        <input type="date" class="form-control" id="dataEmissao" name="dataEmissao" [(ngModel)]="cadastroAvisos.data" required>
                    </div>

                    <div class="form-group">
                        <label for="mensagem">Mensagem</label>
                        <textarea class="form-control" id="mensagem" name="mensagem" [(ngModel)]="cadastroAvisos.mensagem"rows="4"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/cadastroAvisos.jpg" width="100%" alt="">

                </div>
            </div>
            </form>
        </div>

    </div>
</div>