<app-menu></app-menu>


<div class="container-fluid">

    <div class="row">
        

        <div class="container cadastro mt-3">
            <h2 class="mb-4 titulo">Cadastro de porteiros</h2>
            
            <form id="cadastroPorteiros" (ngSubmit)="onSubmit()">

            <div class="row">

                <div class="container col-sm-4">
                    
                    <div class="form-group">
                        <label for="nomeMorador">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cadastroPorteiros.nome" required>
                    </div>

                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="cadastroPorteiros.cpf" required>
                    </div>
                    <div class="form-group">
                        <label for="endereço">Endereço:</label>
                        <input type="text" class="form-control" id="endereço" name="endereço" [(ngModel)]="cadastroPorteiros.endereco" required>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="cadastroPorteiros.telefone" required>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Data da contratação:</label>
                        <input type="date" class="form-control" id="dataContratacao" name="dataContratacao" [(ngModel)]="cadastroPorteiros.dataContratacao" required>
                    </div>
                </div>
                <div class="container col-sm-4">
                    
                    <div class="form-group">
                        <label for="turno">Turno de trabalho:</label>
                        <input type="text" class="form-control" id="turno" name="turno" [(ngModel)]="cadastroPorteiros.turno"required>
                    </div>
                    <div class="form-group">
                        <label for="dataNascimento">Data de nascimento:</label>
                        <input type="date" class="form-control" id="dataNascimento"  name="dataNascimento" [(ngModel)]="cadastroPorteiros.dataNascimento"required>
                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar</button>

                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/cadastroPorteiros.jpg" width="100%" alt="">

                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!--LISTAR PORTEIROS-->
<div class="row mt-5">
    <div class="container-fluid">
        <h2 class="mb-4 titulo">Lista de porteiros</h2>
        <div class="form-group">
            <label for="search">Pesquisar:</label>
            <input type="text" class="form-control" id="search" placeholder="Digite para pesquisar...">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Turno</th>
                    <th>CPF</th>
                    <th>Data de nascimento</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Data da contratação</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let porteiro of cadastroPorteiro"> <!--listar porteiros-->
                    <td>{{ porteiro.nome }}</td>
                    <td>{{ porteiro.turno }}</td>
                    <td>{{ porteiro.cpf }}</td>
                    <td>{{ porteiro.dataNascimento }}</td>
                    <td>{{ porteiro.endereco }}</td>
                    <td>{{ porteiro.telefone }}</td>
                    <td>{{ porteiro.dataContratacao }}</td>
                    <td>

                        <button class="btn btn-warning btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
